

ul{
list-style-type: none;
background-color: aqua;
overflow: hidden;
margin: 0;
padding: 0;
}

li{
float: left ;
padding: 5px;

}
li a{
    text-decoration: none;
padding: 10px;
color: brown;
display: block;
}

li a:hover{
    background-color: bisque;
    color: black;
}