.transitionDiv{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: width 2s,height 2s,background-color 1s, transform 2s;
    transition-delay: 0.1s;

}

.transitionDiv:hover{
    width: 200px;
    height: 200px;
    background-color: green;
    transform: rotate(360deg);
}